<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- Console 출력을 위한 Appenders -->
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d %5p [%c] - %m%n" />
		</Console>
		<!-- 로그파일 생성을 위한 Appender -->
		<RollingFile name="dailyRollingFileAppender"
			fileName="c:/tdms_logs/tdms.log"
			filePattern="c:/tdms_logs/tdms_%d{yyyy-MM-dd}.log" append="true">
			<PatternLayout pattern="%d %5p [%c] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
	</Appenders>
	<!-- Application Loggers -->
	<Loggers>
		<Logger name="illsang" level="debug" additivity="false">
            <AppenderRef ref="console" />
            <!-- AppenderRef ref="dailyRollingFileAppender" /-->
        </Logger>
		<Logger name="java.sql" level="info" additivity="false">
            <AppenderRef ref="console" />
            <!--AppenderRef ref="dailyRollingFileAppender" /-->
        </Logger>
		<!-- log SQL with timing information, post execution -->
        <Logger name="jdbc.sqltiming" level="info" additivity="false">
            <AppenderRef ref="console" />
            <!--AppenderRef ref="dailyRollingFileAppender" /-->
        </Logger>
        <Logger name="org.springframework" level="info" additivity="false">
            <AppenderRef ref="console" />
            <!--AppenderRef ref="dailyRollingFileAppender" /-->
        </Logger>
        <Root level="info">
            <AppenderRef ref="console" />
            <!--AppenderRef ref="dailyRollingFileAppender" /-->
        </Root>
	</Loggers>

</Configuration>
